@import url(form/form.css);
@import url(directions/directions.css);

.row-4 {
  background-color: #ffffff;
}

.row-4__inner-container {
  padding-top: 70px;
  padding-bottom: 52px;
  display: flex;
}

.row-4__content-container {
  flex: 1;
  margin-right: 30px;
}

.row-4__content-container:last-child {
  margin-right: 0px;
}

.row-4__header {
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: 1px;
  color: #202628;
  font-weight: 400;
  font-family: "Fjalla One";
  margin-bottom: 26px;
}

.row-4__separator {
  color: #e7e7e7;
  width: 100%;
}

.row-4__article-container {
  margin-top: 29px;
  margin-bottom: 23px;
}

.row-4__article-image {
  float: left;
  height: 70px;
  width: 69px;
  border-radius: 35px;
  background-color: #e7e7e7;
  background-position: center;
}

.image-1 {
  background-image: url(../../assets/row-4_asset-1.jpg);
}

.image-2 {
  background-image: url(../../assets/row-4_asset-2.jpg);
}

.image-3 {
  background-image: url(../../assets/row-4_asset-3.jpg);
}

.row-4__text-container {
  margin-left: 70px;
  padding-left: 30px;
  padding-top: 4px;
}

.row-4__article-text {
  hyphens: auto;
  font-size: 14px;
  line-height: 24px;
  color: #767c7e;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.row-4__article-link {
  text-decoration: none;

  color: #e84c3d;
}
