.form {
  background-color: #e7e7e7;
  border-radius: 5px;
  padding: 25px 30px 29px;
}

.form__caption {
  font-size: 14px;
  line-height: 24px;
  color: #767c7e;
  font-weight: 400;
  font-family: "Lato";
  padding-bottom: 24px;
}

.form__input-text-single,
.form__input-text-area {
  border: none;
  height: 40px;
  width: calc(100% - 16px);
  border-radius: 20px;
  background-color: #ffffff;
  padding-left: 16px;
  margin-bottom: 18px;
}

.form__input-text-area {
  height: 82px;
  border-radius: 10px;
}

.form__input-text-single::placeholder,
.form__input-text-area::placeholder {
  font-size: 14px;
  color: #9faaad;
  font-weight: 400;
  font-style: italic;
  font-family: "Lato";
}

.form__input-text-area::placeholder {
  line-height: 36px;
}

.form__button {
  margin-top: -3px;
  border: none;
  text-transform: uppercase;
  width: 100px;
  height: 41px;
  border-radius: 20px;
  background-color: #e84c3d;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Fjalla One", sans-serif;
  text-align: center;
}

.form__send-icon {
  margin-left: 10px;
}
