.banner {
  height: 560px;

  font-family: "Fjalla One", sans-serif;
}

.banner__inner-container {
  display: table;

  height: 100%;
}

.banner__content-container {
  display: table-cell;

  padding-bottom: 63px;

  vertical-align: bottom;
}

.banner__arrow-item {
  float: left;
  margin-right: 1px;
}

.banner__arrow-list {
  margin-bottom: 27px;
}

.banner__caption-link {
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
  color: #e84c3d;
  font-weight: 400;
  font-family: "Fjalla One";
  /* margin-top: 20px; */
}

.banner__caption-text {
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 14px;
  margin-top: 18px;

  color: #e7e7e7;

  font-size: 30px;
}
